@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap");
body {
  margin: 0;

  font-family: "Poppins", sans-serif;

  color: #131313;
}

.form-input-text {
  font-family: "Poppins", sans-serif !important;
  font-weigth: 600;
}

button {
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}
